<p>list works!</p>

<a [routerLink]="'/edit'">edit</a><br />
<a [routerLink]="['/edit', 'bootstrap']">bootstrap</a><br />
<a [routerLink]="['/edit', 'complex']">complex</a><br />
<a [routerLink]="['/edit', 'tabs']">tabs</a><br />
<a [routerLink]="['/edit', 'steps']">steps</a><br />
<a [routerLink]="['/edit', 'prime']">prime</a><br />
<a [routerLink]="['/edit', 'list']">list</a><br />
<a [routerLink]="['/edit', 'multi-select']">multi select list</a><br />
<a [routerLink]="['/edit', 'checkbox']">checkbox</a><br />
<a [routerLink]="['/edit', 'chips']">chips</a><br />
<a [routerLink]="['/edit', 'prime-modules']">prime modules</a><br />
<a [routerLink]="['/edit', 'editor']">editor</a><br />
<a [routerLink]="['/edit', 'knob']">knob</a><br />
<a [routerLink]="['/edit', 'cascadeselect']">cascadeselect</a><br />
<a [routerLink]="['/edit', 'dropdown']">dropdown</a><br />
<a [routerLink]="['/edit', 'inputmask']">input mask</a><br />
<a [routerLink]="['/edit', 'inputswitch']">input switch</a><br />
<a [routerLink]="['/edit', 'listbox']">list box</a><br />
<a [routerLink]="['/edit', 'password']">password</a><br />
<a [routerLink]="['/edit', 'radio']">radio</a><br />
<a [routerLink]="['/edit', 'rating']">rating</a><br />
<a [routerLink]="['/edit', 'selectbutton']">select button</a><br />
<a [routerLink]="['/edit', 'textarea']">text area</a><br />
<a [routerLink]="['/edit', 'togglebutton']">toggle button</a><br />
<a [routerLink]="['/edit', 'tristatecheck']">tri state check</a><br />