<p-sidebar [(visible)]="updateVisible" [dismissible]="false" [modal]="false" [showCloseIcon]="false" position="middle"
           styleClass="update-bar">
  È disponibile una nuova versione!
  <button (click)="update()" class="ui-button-secondary pull-right" label="AGGIORNA" pButton type="button"></button>
</p-sidebar>
<div class="sidebar open" id="mySidebar">
  <ul>
    <li *ngFor="let page of pages">
      <a *ngIf="page.routerLink" [routerLink]="page.routerLink" routerLinkActive="active">
        <i [ngClass]="page.icon" aria-hidden="true"></i>
        <span>{{ page.label }}</span></a>
      <a *ngIf="page.url" href="{{ page.url }}"><i [ngClass]="page.icon" aria-hidden="true"></i>
        <span>{{ page.label }}</span></a>
    </li>
  </ul>
</div>

<div class="navbar-top">
  <div class="openbtn" onclick="toggleNav()">
    <i aria-hidden="true" class="fa fa-bars"></i>
  </div>
  <div class="logo-wrapper">
    <a routerLink="/"> <img src="assets/images/logo.svg"/></a>
  </div>


  <ul class="user-menu">
    <li>Benvenuto</li>
    <li>
      <a>
        <span class="profile-name">{{ utente?.nome }} {{ utente?.cognome }}</span>
        <i class="material-icons ui-icon-keyboard-arrow-down"></i>
      </a>
    </li>


    <li (click)="logout()">
      Logout
    </li>

  </ul>
</div>

<div class="closed" id="main"><div class="wrapper">

  <router-outlet></router-outlet>
</div>
</div>